input {
    background-color: lighten(rgb(70, 70, 70), 15);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    transition: all .3s linear;
    outline: 1px solid transparent;
    margin: 5px 0;

    &:hover {
        background-color: lighten(rgb(70, 70, 70), 25);
    }

    &:focus {
        outline: 1px solid rgba(0,194,255,0.5);
    }
}