.card {
    position: relative;
    background-repeat: none;
    height: 605px;
    width: 420px;
    background-position: center;
    background-size: 105%;
    background-position-x: -6px;
    background-position-y: -5px;
    transition: all .25s linear;

    &::before {
        content: '';
        display: flex;
        position: absolute;
        height: 35vh;
        width: 4.3vw;
        top: 2.8vh;
        left: 4.3vw;
    }

    &__top {
        position: absolute;
        left: 30px;
        top: 60px;

        &::after {
            content: '';
            display: flex;
        }

        &--ovrl {
            span {
                font-size: 80px;
                padding-left: 3.5vw;
            }

            p {
                margin: 0;
                position: relative;
                top: -1.7vh;
                text-align: center;
                font-size: 32px;
                padding-left: 3.19vw;
            }
        }

        &--nation {
            position: relative;
            img {
                max-width: 56px;
                padding-left: 65px;
            }

            &::before {
                content: '';
                position: absolute;
                left: 3.7vw;
                top: -1.2vh;
                padding: 28px 22px;
                width: 0;
            }
        }

        &--club {
            img {
                max-width: 50px;
                padding-left: 69px;
                padding-top: 20px;
            }
        }
    }

    &__image {
        img {
            position: absolute;
            right: 50px;
            top: 115px;
            width: 200px;
        }
    }

    &__name {
        position: absolute;
        text-align: center;
        left: 3vw;
        width: 75%;
        font-size: 40px;
        font-weight: 700;
        top: 32.9vh;
        text-transform: uppercase;
        letter-spacing: -0.6px;

        &::before {
            content: '';
            position: absolute;
            width: 230px;
            left: 37px;
            bottom: -5px;
        }
    }

    &__stats {
        display: flex;
        position: absolute;
        font-size: 36px;
        column-gap: 1.4vw;
        left: 3.2vw;
        bottom: 7.5vh;

        ul {
            &:last-child {
                position: relative;
                &::before {
                    content: '';
                    left: 4px;
                    bottom: 4px;
                    height: 100px;
                    position: absolute;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: -12px;
                    width: 35px;
                }
            }
            li {
                display: flex;
                line-height: 37px;
                b {
                    padding-right: 6px;
                }
            }
        }
    }

    &__buff {
        &.hunter {
            &::before {
                content: '\E019';
                position: absolute;
                bottom: 50px;
                left: 46%;
                font-family: 'ut-icons';
                font-size: 32px;
            }
        }
    }

    &.totw {
        background-image: url("./images/cards/totw.png");
        color: #FFE28C;

        &::before {
            content: '';
            height: 32vh;
            top: 8vh;
            background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,.6) 52%, rgba(0,212,255,0) 100%);
        }

        & .card__top--nation {
            &::before {
                content: '';
                border-top: 1px solid #FFE28C;
                border-bottom: 1px solid #FFE28C;
            }
        }

        & .card__name {
            &::before {
                content: '';
                border-bottom: 1px solid #FFE28C;
            }
        }

        & .card__stats {
            ul:last-child {
                &::before {
                    content: '';
                    border-left: 1px solid #FFE28C;
                }
                &::after {
                    content: '';
                    border-bottom: 1px solid #FFE28C;
                }
            }
        }
    }

    &.gold {
        background-image: url("./images/cards/gold.png");
        color: #000;

        &::before {
            content: none;
        }

        & .card__top--nation {
            &::before {
                content: '';
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }

        & .card__name {
            &::before {
                content: '';
                border-bottom: 1px solid #000;
            }
        }

        & .card__stats {
            ul:last-child {
                &::before {
                    content: '';
                    border-left: 1px solid #000;
                }
                &::after {
                    content: '';
                    border-bottom: 1px solid #000;
                }
            }
        }
    }

    &.wc {
        background-image: url("./images/cards/wc.png");
        color: #fff;

        &::before {
            background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,.18) 52%, rgba(0,212,255,0) 100%);
        }

        & .card__top--nation {
            &::before {
                content: '';
                border-top: 1px solid #ea0347;
                border-bottom: 1px solid #ea0347;
            }
        }

        & .card__name {
            &::before {
                content: '';
                border-bottom: 1px solid #ea0347;
            }
        }

        & .card__stats {
            ul:last-child {
                &::before {
                    content: '';
                    border-left: 1px solid #ea0347;
                }
                &::after {
                    content: '';
                    border-bottom: 1px solid #ea0347;
                }
            }
        }
    }
}