@import './fonts.scss';

@import './card.scss';
@import './menu.scss';
@import './input.scss';
@import './steps.scss';

body {
    font-family: 'DIN Pro Cond', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-size: cover;
}

i {font-style: normal;}

.app {
    .card {
        left: 40vw;
        top: 20vh;
    }
}