@import './fonts';
@import './variables';
@import './icons';

@import './animations';
@import './buttons';
@import './card';
@import './steps';

body {
    font-family: $primary-font;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-size: cover;
}

i {font-style: normal;}

.app {
    .card {
        left: 40vw;
        top: 20vh;
    }
}